<ion-tabs class="tabs-icon-top tabs-color-active-positive">

<ion-tab href="#/tab/account" icon-off="ion-ios-list" icon-on="ion-ios-list" title="List">
<ion-nav-view name="tab-account">

</ion-nav-view></ion-tab><ion-tab href="#/tab/test" icon-off="ion-edit" icon-on="ion-edit" title="Edit">
<ion-nav-view name="test">

</ion-nav-view></ion-tab>
<ion-tab href="#/tab/chats" icon-off="ion-ios-eye" icon-on="ion-ios-eye" title="View">
<ion-nav-view name="tab-chats">

</ion-nav-view></ion-tab>


</ion-tabs>