<script type="text/javascript" charset="utf-8" src="components/loader.js"></script>

<ion-view view-title="Edit">
<ion-content padding="">
<div class="list list-inset">
<label class="item item-input">
<input id="titled" placeholder="title" type="text" />
</label><label class="item item-input">
<textarea id="memosd" placeholder="input a memo">

</textarea></label></div></ion-content></ion-view><ion-footer-bar align-title="left" class="bar-assertive" keyboard-attach="">
<div class="button-bar">
<a class="button" id="insert_h2">h2</a>
<a class="button" id="insert_yoko">HR</a>
<a class="button" id="insert_list">LI</a>
<a class="button" id="insert_hutoi">BO</a>
<a class="button" id="insert_bq">BQ</a>
<a class="button" id="insert_strikethrough">ST</a>


</div></ion-footer-bar>