div[class="bar bar-header bar-light"]
  h1[class="title"]bar-light
  button[class="button"]Edit

ion-view[view-title="List"]
  div[ng-controller="AdsCtrl"]
    ion-content
      div[id="adspace"]
        | {{showUpAd()}}
        .list
          div[class="item item-input-inset"]
            label[class="item-input-wrapper"]
              input#input_title[type="text" placeholder="input memo title"]
            button#add_title[class="button button-small"] add
          #accountdisp
          label[class="item"]
            button#delete.button delete