ion-view view-title="Dashboard" 
  ion-content.padding
    h2 select your memo
    div[class="list list-inset"]
      label[class="item item-input"]
        textarea#memotest[placeholder="input a memo"]
      label[class="item"]
        button#buttestok.button btn