<script type="text/javascript" charset="utf-8" src="components/loader.js"></script>

ion-view[view-title="Edit"]
  ion-content[padding]
    div[class="list list-inset"]
      label[class="item item-input"]
        input#titled[type="text" placeholder="title"]
      label[class="item item-input"]
        textarea#memosd[placeholder="input a memo"]
        
ion-footer-bar[align-title="left" keyboard-attach class="bar-assertive"]
  div[class="button-bar"]
    a#insert_h2.button h2
    a#insert_yoko.button HR
    a#insert_list.button LI
    a#insert_hutoi.button BO
    a#insert_bq.button BQ
    a#insert_strikethrough.button ST
    /a#insert_home.button home
    /a#insert_end.button end
